# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# knitr and R markdown default cache directories
/*_cache/
/cache/
*_files/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/


#output
*.docx
#*.md
*.html
*.pdf


#strange file made by rticles or latex
*.spl
*.aux
*.out
*.log

#backup bibliography
*.bak
*2.bib

#figures
*.jpg
*.png
*.gif
*.jpeg

#temp files
*~
*#
*.tmp

#data
*.bil
*.hdr
*.zip
*.xlsx
*.xls
*.csv

#packrat
packrat/lib*/
packrat/src/

#drake
.drake/
